@import url('./font.css');

body {
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
    font-size: 26px;
}

#story {
    height: 90vh !important;
}

button {
    border: none;
    background-color: #929292;
    color: #303030;
    border-radius: 0.2em;
    font-weight: bold;
}

button:hover {
    background-color: #929292;
}

.restart-button {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

#ui-dialog-close {
    color: #fff;
    width: 3em;
    padding-left: 1em;
}

#ui-dialog-close:hover {
    border: none !important;
    background-color: transparent;
    color: #fff;
}

div.icon {
    position: relative;
    width: 4vw;
    height: 4vw;
    left: -8vw;
    top: 8vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

div.mayor {
    background-image: url("../img/mayor.png");
}

div.police {
    background-image: url("../img/police.png");
}

div.civil_rights {
    background-image: url("../img/civil_rights.png");
}
